{{ define "table" }}

    <div id="modals-container">
        <div class="modal fade center-scale"
             id="screen-modal-asyncEditUserModal"
             role="dialog"
             aria-labelledby="screen-modal-asyncEditUserModal"
             data-controller="modal"
             data-modal-slug="asyncEditUserModal"
             data-modal-async-enable="1"
             data-modal-async-route="http://localhost/market/async/eyJpdiI6IjRuTEJZQ2tLQ0NwZWVoSkRzdW53ZUE9PSIsInZhbHVlIjoiaHJJT0szTU81ZjlVVWNoYVhIdjRMdDdyWmFrdTRKQktCN1gyOFRTWVpWVWZCLzhkd3R6d0tSaW80dHJ4bmM4WiIsIm1hYyI6ImJiNWI1ZGNjOGQ4YmYxYjcwN2U1Y2Y5ODFhMWM2YjY4MTdiODU0YTQ0YWU4YjI5ZWI0OGZkNjMxMDUxYjVmNGIiLCJ0YWciOiIifQ==/asyncGetUser/asyncEditUserModal"
             data-modal-open=""

        >
            <div class="modal-dialog modal-fullscreen-md-down  "
                 role="document"
                 id="screen-modal-type-asyncEditUserModal"
            >
                <form class="modal-content"
                      action=""
                      id="screen-modal-form-asyncEditUserModal"
                      method="post"
                      enctype="multipart/form-data"
                      data-controller="form"
                      data-action="form#submit"
                >
                    <div class="p-4 modal-placeholder">
                        <div class="placeholder-glow mb-3 mt-1 d-flex align-items-center">
                            <span class="placeholder col-6 h5 me-auto rounded-1"></span>
                            <button type="button" class="btn-close" title="Close"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <p class="placeholder-glow">
                            <span class="placeholder col-7 rounded-1"></span>
                            <span class="placeholder col-4 rounded-1"></span>
                            <span class="placeholder col-4 rounded-1"></span>
                            <span class="placeholder col-6 rounded-1"></span>
                            <span class="placeholder col-8 rounded-1"></span>
                            <span class="placeholder col-7 rounded-1"></span>
                            <span class="placeholder col-4 rounded-1"></span>
                            <span class="placeholder col-4 rounded-1"></span>
                            <span class="placeholder col-6 rounded-1"></span>
                            <span class="placeholder col-8 rounded-1"></span>
                            <span class="placeholder col-3 rounded-1"></span>
                            <span class="placeholder col-7 rounded-1"></span>
                        </p>

                        <p class="placeholder-glow mb-0">
                            <span class="placeholder col-3 rounded-1"></span>
                            <span class="placeholder col-7 rounded-1"></span>
                            <span class="placeholder col-7 rounded-1"></span>
                            <span class="placeholder col-4 rounded-1"></span>
                            <span class="placeholder col-4 rounded-1"></span>
                            <span class="placeholder col-6 rounded-1"></span>
                            <span class="placeholder col-8 rounded-1"></span>
                            <span class="placeholder col-4 rounded-1"></span>
                        </p>
                    </div>
                    <div class="modal-header">
                        <h4 class="modal-title text-black fw-light" data-modal-target="title">
                            asyncEditUserModal</h4>
                        <button type="button" class="btn-close" title="Close" data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body layout-wrapper">
                        <div id="asyncEditUserModal">
                            <fieldset class="mb-3">


                                <div class="bg-white rounded shadow-sm p-4 py-4 d-flex flex-column gap-3">
                                    <div class="form-group">
                                        <label for="field-username-b6750abee82e539cd43019bc6c580e09453a059b"
                                               class="form-label">Название
                                            <sup class="text-danger">*</sup>

                                        </label>

                                        <div data-controller="input"
                                             data-input-mask=""
                                        >
                                            <input class="form-control" name="user[name]" type="text"
                                                   max="255" required="required" title="Название"
                                                   placeholder="Название"
                                                   id="field-username-b6750abee82e539cd43019bc6c580e09453a059b">
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label for="field-useremail-63d43cdecd805a639e7e05269a216626cd082fd8"
                                               class="form-label">Электронная почта
                                            <sup class="text-danger">*</sup>

                                        </label>

                                        <div data-controller="input"
                                             data-input-mask=""
                                        >
                                            <input class="form-control" name="user[email]" type="email"
                                                   required="required" title="Электронная почта"
                                                   placeholder="Электронная почта"
                                                   id="field-useremail-63d43cdecd805a639e7e05269a216626cd082fd8">
                                        </div>

                                    </div>


                                </div>
                            </fieldset>

                            <input type="hidden" name="_token"
                                   value="pY7ESie485Ew9xRa7bEi3ePIbhNdg0LX1gayR3vD" autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-bs-dismiss="modal">
                            Закрыть
                        </button>

                        <button type="submit"
                                id="submit-modal-asyncEditUserModal"
                                data-turbo="true"
                                class="btn btn-default">
                            Применить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form id="post-form"
          class="mb-md-4 h-100"
          method="post"
          enctype="multipart/form-data"
          data-controller="form"
          data-form-need-prevents-form-abandonment-value="true"
          data-form-failed-validation-message-value="Пожалуйста, проверьте введенные данные, возможны указания на других языках."
          data-action="keypress->form#disableKey
                      turbo:before-fetch-request@document->form#confirmCancel
                      beforeunload@window->form#confirmCancel
                      change->form#changed
                      form#submit"
          novalidate
    >
        <div class="col-md-12" data-controller="filter">
            <div class="btn-group ps-4" role="group">
                <button class="btn btn-link dropdown-toggle ps-0 d-flex align-items-center text-decoration-none"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                         class="bi bi-funnel" viewBox="0 0 16 16" role="img" path="bs.funnel"
                         componentName="orchid-icon">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"></path>
                    </svg>

                    <span class="ms-1">Фильтры</span>
                </button>

                <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow py-0"
                     aria-labelledby="navbarDropdownMenuLink"
                     data-turbo-permanent
                     data-action="click->filter#onMenuClick"
                >
                    <div class="dropdown-toggle" data-action="click->filter#onMenuClick"
                         data-filter-target="filterItem">
                        <div class="p-3 w-md">
                            <div class="form-group">
                                <label for="field-role-5b0fdf0077dd0c5de019b32453e6132e370a10be"
                                       class="form-label">Роли

                                </label>

                                <div data-controller="select"
                                     data-select-placeholder=""
                                     data-select-allow-empty="1"
                                     data-select-message-notfound="Результаты не найдены"
                                     data-select-allow-add="false"
                                     data-select-message-add="Добавить"
                                >
                                    <select class="form-control" name="role" title="Роли" form="filters"
                                            id="field-role-5b0fdf0077dd0c5de019b32453e6132e370a10be">
                                        <option value=""
                                        ></option>
                                    </select>
                                </div>

                            </div>


                        </div>

                        <div class="bg-light p-3 w-md">
                            <button type="submit"
                                    form="filters"
                                    class="btn btn-link btn-sm w-100 border"
                                    data-action="click->filter#submit">
                                <span class="w-100 text-center">Применить</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-white rounded shadow-sm mb-3"
             data-controller="table"
             data-table-slug="83e117357228d58583ab6cafd9f5ecc73cfcf9b2"
        >

            <div class="table-responsive">
                <table class="table">

                    <thead>
                    <tr>
                        <th class="text-start" data-column="name">
                            <div class="d-inline-flex align-items-center">

                                <div class="dropdown d-inline-block" data-controller="filter"
                                     data-action="click->filter#onMenuClick">
                                    <button class="btn btn-sm btn-link dropdown-toggle p-0 me-1"
                                            type="button"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            data-bs-boundary="viewport"
                                            aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                             fill="currentColor" class="bi bi-funnel"
                                             viewBox="0 0 16 16" role="img" path="bs.funnel"
                                             componentName="orchid-icon">
                                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"></path>
                                        </svg>

                                    </button>
                                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow py-0"
                                         x-placement="bottom-end">
                                        <div class="p-3">
                                            <div class="form-group">

                                                <div data-controller="input"
                                                     data-input-mask=""
                                                >
                                                    <input class="form-control" name="filter[name]"
                                                           placeholder="Фильтр" form="filters"
                                                           autofocus="autofocus"
                                                           id="field-filtername-5696571bece453ec4d5091ecca389c5edee9184f">
                                                </div>

                                            </div>


                                        </div>

                                        <div class="bg-light p-3">
                                            <button type="submit" form="filters"
                                                    class="btn btn-link btn-sm w-100 border">
                                                <span class="w-100 text-center">Применить</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <a href="http://localhost/market/users?sort=name"
                                   class=" text-muted ">
                                    Название


                                </a>
                            </div>

                        </th>


                        <th class="text-start" data-column="email">
                            <div class="d-inline-flex align-items-center">

                                <div class="dropdown d-inline-block" data-controller="filter"
                                     data-action="click->filter#onMenuClick">
                                    <button class="btn btn-sm btn-link dropdown-toggle p-0 me-1"
                                            type="button"
                                            data-bs-toggle="dropdown"
                                            aria-haspopup="true"
                                            data-bs-boundary="viewport"
                                            aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                             fill="currentColor" class="bi bi-funnel"
                                             viewBox="0 0 16 16" role="img" path="bs.funnel"
                                             componentName="orchid-icon">
                                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"></path>
                                        </svg>

                                    </button>
                                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow py-0"
                                         x-placement="bottom-end">
                                        <div class="p-3">
                                            <div class="form-group">

                                                <div data-controller="input"
                                                     data-input-mask=""
                                                >
                                                    <input class="form-control" name="filter[email]"
                                                           placeholder="Фильтр" form="filters"
                                                           autofocus="autofocus"
                                                           id="field-filteremail-2ee0c88582a626564446b792919d0287d7551a75">
                                                </div>

                                            </div>


                                        </div>

                                        <div class="bg-light p-3">
                                            <button type="submit" form="filters"
                                                    class="btn btn-link btn-sm w-100 border">
                                                <span class="w-100 text-center">Применить</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <a href="http://localhost/market/users?sort=email"
                                   class=" text-muted ">
                                    Электронная почта


                                </a>
                            </div>

                        </th>


                        <th class="text-end" data-column="created-at">
                            <div class="d-inline-flex align-items-center">


                                <a href="http://localhost/market/users?sort=created_at"
                                   class=" text-muted ">
                                    Создан


                                </a>
                            </div>

                        </th>


                        <th class="text-end" data-column="updated-at">
                            <div class="d-inline-flex align-items-center">


                                <a href="http://localhost/market/users?sort=updated_at"
                                   class=" text-muted ">
                                    Последнее редактирование


                                </a>
                            </div>

                        </th>


                        <th width="100px" class="text-center" data-column="deistviia">
                            <div class="d-inline-flex align-items-center">


                                Действия

                            </div>

                        </th>


                    </tr>
                    </thead>

                    <tbody>

                    <tr>
                        <td class="text-start  text-truncate  "
                            data-column="name" colspan="1"
                            style=""
                        >
                            <div>
                                <a href="http://localhost/market/users/1/edit">
                                    <div class="d-sm-flex flex-row flex-wrap align-items-center">
                    <span class="thumb-sm avatar me-sm-3 ms-md-0 me-xl-3 d-none d-md-inline-block">
              <img src="https://www.gravatar.com/avatar/64e1b8d34f425d19e1ee2ea7236d3028?d=https%3A%2F%2Fraw.githubusercontent.com%2Forchidsoftware%2F.github%2Fmain%2Fweb%2Favatars%2Fgravatar.png"
                   class="bg-light">
            </span>
                                        <div class="mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                                            <p class="mb-0">admin</p>
                                            <small class="text-muted">Пользователь</small>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </td>

                        <td class="text-start  text-truncate  "
                            data-column="email" colspan="1"
                            style=""
                        >
                            <div>
                                <div class="form-group mb-0">


                                    <button type="button"
                                            class="btn btn-link"
                                            formaction="http://localhost/market/users/saveUser?user=1"
                                            data-controller="modal-toggle"
                                            data-action="click->modal-toggle#targetModal"
                                            data-modal-toggle-title="admin"
                                            data-modal-toggle-key="asyncEditUserModal"
                                            data-modal-toggle-async="true"
                                            data-modal-toggle-params='{"user":1}'
                                            data-modal-toggle-action="http://localhost/market/users/saveUser?user=1"
                                            data-modal-toggle-open=""
                                    >


                                        <span>admin@admin.com</span>
                                    </button>

                                </div>

                            </div>
                        </td>

                        <td class="text-end  text-truncate  "
                            data-column="created-at" colspan="1"
                            style=""
                        >
                            <div>
                                <time class="mb-0 text-capitalize">ноя 24, 2024<span
                                            class="text-muted d-block">вск, 04:18</span></time>
                            </div>
                        </td>

                        <td class="text-end  text-truncate  "
                            data-column="updated-at" colspan="1"
                            style=""
                        >
                            <div>
                                <time class="mb-0 text-capitalize">ноя 24, 2024<span
                                            class="text-muted d-block">вск, 04:18</span></time>
                            </div>
                        </td>

                        <td class="text-center  "
                            data-column="deistviia" colspan="1"
                            style="min-width:100px;"
                        >
                            <div>
                                <div class="form-group mb-0">


                                    <button
                                            class="btn btn-link"
                                            type="button"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                    >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                             fill="currentColor" class="1" viewBox="0 0 16 16"
                                             role="img" path="bs.three-dots-vertical"
                                             componentName="orchid-icon">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path>
                                        </svg>


                                        <span></span>
                                    </button>

                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow bg-white"
                                         x-placement="bottom-end"
                                    >
                                        <div class="form-group mb-0">


                                            <a
                                                    data-turbo="true"
                                                    class="btn btn-link"
                                                    href="http://localhost/market/users/1/edit"
                                            >
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                                     height="1em" fill="currentColor" class="me-2"
                                                     viewBox="0 0 16 16" role="img" path="bs.pencil"
                                                     componentName="orchid-icon">
                                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"></path>
                                                </svg>


                                                <span>Редактировать</span>
                                            </a>

                                        </div>

                                        <div class="form-group mb-0">


                                            <button
                                                    data-controller="button"
                                                    data-turbo="true"
                                                    data-action="button#confirm"
                                                    data-button-confirm="Как только учетная запись будет удалена, все ее ресурсы и данные будут удалены безвозвратно. Перед удалением вашей учетной записи, пожалуйста, загрузите любые данные или информацию, которые вы хотите сохранить."
                                                    class="btn btn-link" type="submit" form="post-form"
                                                    formaction="http://localhost/market/users/remove?id=1">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em"
                                                     height="1em" fill="currentColor" class="me-2"
                                                     viewBox="0 0 16 16" role="img" path="bs.trash3"
                                                     componentName="orchid-icon">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>
                                                </svg>


                                                <span>Удалить</span>
                                            </button>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </td>

                    </tr>


                    </tbody>
                </table>
            </div>


            <footer class="pb-3 w-100 v-md-center px-4 d-flex flex-wrap">
                <div class="col-auto me-auto">
                    <div class="btn-group dropup d-inline-block">
                        <button type="button"
                                class="btn btn-sm btn-link dropdown-toggle p-0 m-0"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                data-bs-boundary="viewport"
                                aria-expanded="false">
                            Настроить столбцы
                        </button>
                        <div class="dropdown-menu dropdown-column-menu dropdown-scrollable">


                            <div class="dropdown-item">
                                <div class="form-check h-auto w-100 d-flex align-items-center ps-0">
                                    <input type="checkbox"
                                           checked
                                           class="custom-control-input"
                                           id="created-at"
                                           form="table-columns-select"
                                           data-action="table#toggleColumn"
                                           data-default-hidden="true"
                                           data-column="created-at"
                                    >
                                    <label class="form-check-label d-block w-100 cursor ms-2 user-select-none"
                                           for="created-at">
                                        Создан
                                    </label>
                                </div>
                            </div>

                            <div class="dropdown-item">
                                <div class="form-check h-auto w-100 d-flex align-items-center ps-0">
                                    <input type="checkbox"
                                           checked
                                           class="custom-control-input"
                                           id="updated-at"
                                           form="table-columns-select"
                                           data-action="table#toggleColumn"
                                           data-default-hidden="false"
                                           data-column="updated-at"
                                    >
                                    <label class="form-check-label d-block w-100 cursor ms-2 user-select-none"
                                           for="updated-at">
                                        Последнее редактирование
                                    </label>
                                </div>
                            </div>

                            <div class="dropdown-item">
                                <div class="form-check h-auto w-100 d-flex align-items-center ps-0">
                                    <input type="checkbox"
                                           checked
                                           class="custom-control-input"
                                           id="deistviia"
                                           form="table-columns-select"
                                           data-action="table#toggleColumn"
                                           data-default-hidden="false"
                                           data-column="deistviia"
                                    >
                                    <label class="form-check-label d-block w-100 cursor ms-2 user-select-none"
                                           for="deistviia">
                                        Действия
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <small class="text-muted d-block">
                        Отображено записей: 1-1 из 1
                    </small>

                </div>
                <div class="col-auto overflow-auto flex-shrink-1 mt-3 mt-sm-0">

                </div>
            </footer>

        </div>


        <input type="hidden" name="_token" value="pY7ESie485Ew9xRa7bEi3ePIbhNdg0LX1gayR3vD"
               autocomplete="off">
        <div class="modal fade"
             id="confirm-dialog"
             data-controller="confirm"
             tabindex="-1"
             aria-hidden="true">
            <div class="modal-dialog modal-fullscreen-md-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-black fw-light">
                            Вы уверены?
                        </h4>
                        <button type="button" class="btn-close" title="Close" data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="p-4" data-confirm-target="message">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-bs-dismiss="modal">
                            Отменить
                        </button>

                        <div data-confirm-target="button">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div data-controller="filter">
        <form id="filters" autocomplete="off"
              data-action="filter#submit"
              data-form-need-prevents-form-abandonment-value="false"
        ></form>
    </div>

    <input type="hidden" name="_state" id="screen-state" value="">

{{ end }}
